# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
/shelf/
/workspace.xml

# Jupyter Notebook
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite
*.db

# Model files and media
*.pth
*.h5
*.model
*.pkl
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.mov
*.part

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
